html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

header {
  height: 20vh;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border: 2px solid black;
}

.column {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border: 2px solid brown;
}

img {
  max-width: 20rem;
}

.information {
  text-align: center;
  font-size: larger;
}
